.App {
  min-width: 100vw;

  min-height: 100vh;
  text-align: center;
  background-color: #f7f7f9;
  padding-bottom: 4vh;
}

.title-div {
  color: #28a745;
  padding-top: 2vh;
  margin-bottom: 2vh;
}

.title {
  font-weight: bold;
}

.inv-container {
  
}
